.arrowRight {
    display: block;
    position: relative;
    width: 21px !important;
    height: 21px !important;
    border: solid 2px #000;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
  }

  .arrowRight:before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 45%;
    width: 5px;
    height:5px;
    border-style: solid;
    border-color: #000;
    border-width: 1px 0 0 1px;
    transform: translate(-50%, -50%) rotate(135deg);
    transition: border-color ease 0.1s;
  }
  
  .arrowRight:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21px !important;;
    height: 21px !important;;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    transition: transform ease 0.4s;
  }

  div:has(> .arrowRight):hover > .arrowRight::after {
    transform: translate(-50%, -50%) scale(1.1, 1.1);
  }

  div:has(> .arrowRight):hover > .arrowRight::before {
    border-color: #fff;
  }
